.btn {
    display: inline-block;
    padding: 0.8em 2em;
    //min-width: 130px;
    text-align: center;
    font-size: 1rem;
    font-family: $font-family;
    font-weight: $semibold;
    line-height: 1em;
    border: 1px solid $secondary;
    border-radius: $input-radius;
    cursor: pointer;
    background-color: $secondary;
    color: #fff;
    -webkit-appearance: none;
    appearance: none;
    
    @extend .tr;

    &:hover, &:focus {
        background-color: darken($secondary, 10%);
        border-color: darken($secondary, 10%);
    }

    &--fluid {
        width: 100%;
    }

    &.btn--o {
        color: $secondary;
        border-color: $secondary;
        background-color: transparent;

        &:hover, &:focus {
            background-color: transparentize($light, 0.9);
        }
    }
}

.btngroup {
    display: inline-flex;

    .btn {
        border-radius: 0;

        &:focus {
            z-index: 1;
        }

        & + .btn {
            margin-left: -1px;
        }
    }

    .btn:first-child {
        border-radius: $input-radius 0 0 $input-radius;
    }

    .btn:last-child {
        border-radius:0 $input-radius $input-radius 0;
    }
}