.form {

    &__set {
        border: none;

        & + & {
            margin-top: 2rem;
        }

        &__legend {
            font-size: 1rem;
            font-weight: 600;
            margin-bottom: 1em;
        }
    }

    &__group {
        & + & {
            margin-top: 2rem;
        }
    }

    label {
        font-size: 0.9rem;
    }

    &__label {
        font-weight: $semibold;
        margin-bottom: 0.5em;
        display: block;
    }

    input[type=text],
    input[type=email],
    input[type=password],
    input[type=tel],
    input[type=number],
    input[type=date],
    select,
    textarea {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        border: 1px solid $gray;
        border-radius: $input-radius;
        font-size: 1rem;
        line-height: 2rem;
        background: $light;
        display: block;
        padding: 0.2em 0.7em;

        &:active,
        &:focus {
            border-color: $dark;
        }
    }

    input[type=submit],
    input[type=reset],
    button {
        @extend .btn;
    }

    &__radio {
        & + & {
            margin-top: 0.8em;
        }
    }

    // <input> + <label>
    
    input[type=checkbox] {
        position: absolute;
        width: 0; height: 0;
        opacity: 0;

        & + label {
            padding-left: 1.8em;
            position: relative;
            display: inline-block;
            cursor: pointer;

            &::before {
                font-family: $icomoon-font-family !important;
                position: absolute;
                top: 0;
                left: 0;
                font-size: 1.3em;
                content: $icon-checkbox;
            }
        }
        
        &:checked + label::before {
            content: $icon-checkedbox;
        }
    }

    .group {
        margin-top: 2.6rem;
    }

    /* Typical search box with button at the end. */

    .buttoned {
        display: flex;
        max-width: 550px;
        margin: 0 auto;
    
        input:not([type="submit"]) {
            flex-grow: 1;
            border-top-left-radius: $input-radius;
            border-top-right-radius: 0;
            border-bottom-left-radius: $input-radius;
            border-bottom-right-radius: 0;
        }
    
        input[type="submit"] {
            border-top-left-radius: 0;
            border-top-right-radius: $input-radius;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: $input-radius;
            border: none;
        }
    }

    .divided {
        display: flex;
        flex-wrap: wrap;

        @include phone {
            display: block;
        }

        .group {
            flex-basis: calc(50% - 37px);

            &:nth-child(even) {
                margin-left: 74px;

                @include phone {
                    margin-left: 0;
                }
            }
        }
    }
}