.header {
    .container {
        display: flex;
        align-items: center;
    }

    &__logo {
        display: block;
        width: 320px;
    }

    &__cross {
        font-size: 3rem;
        margin: 0 40px;
        opacity: 0.3;
    }

    &__spacer {
        flex-grow: 1;
    }
    
    &__nav {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
        
        .menu-item {
            a {
                display: inline-block;
                line-height: 3em;
                padding: 0 1.5em;
            }
        }
    }

    &__company {
        max-width: 320px;
        max-height: 60px;    
    }
}