.header {
    .container {
        display: flex;
        align-items: center;
    }

    &__spacer {
        flex-grow: 1;
    }
    
    &__nav {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
        .menu-item {
            a {
                display: inline-block;
                line-height: 3em;
                padding: 0 1.5em;
            }
        }
    }
}