/**************************************
 * ENTRY CONTENT FORMATTING
 **************************************/

 .richtext {
    
    p {
        font-size: 1rem;
        line-height: 1.6em;
        margin-bottom: 1.2em;
    }

    a:not(.btn) {
        color: $secondary;
        text-decoration: underline;

        &:hover, &:focus {
            color: darken($secondary, 10%);
        }
    }
    
    pre, blockquote {
        background: #eee;
        padding: 10px;
        overflow-x: scroll;
        margin-bottom: 20px;
    }

    code {
        font-family: monospace;
        display: inline-block;
        font-size: 0.9em;
        background: #efefef;
        padding: 0px 8px;
        border-radius: 4px;
        line-height: 1.6em;
    }
    
    ol, ul {
        padding-left: 30px;
        margin-bottom: 20px;
        line-height: 1.5em;

        li + li {
            margin-top: 0.4em;
        }
    }
    
    hr {
        border: none;
        border-bottom: 1px solid #6EC9F1;
        margin: 10px 0;
    }
    
    h1 {
        font-size: 2.6rem;
        margin-bottom: 1.500rem;
    }
    h2 {
        font-size: 2rem;
        margin-bottom: 1em;
    }
    h3 {
        font-size: 1.6rem;
        margin-bottom: 0.6em;
    }
    h4 {
        font-size: 1.2rem;
        margin-bottom: 0.7em;
    }
    h5 {font-size: 1rem;   margin-bottom: 0rem;}
    h6 {font-size: 1rem;   margin-bottom: 0rem;}

    * + h2 {
        margin-top: 2em;
    }

    * + h3 {
        margin-top: 1.2em;
    }

    * + h4 {
        margin-top: 1em;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }
}