$rem        : 16px;
$font-color : #333;
$font-family: "Helvetica Neue", "Helvetica", sans-serif;
//$icomoon-font-path: "../../fonts/icomoon/fonts";

$thin       : 100;
$extralight : 200;
$book       : 200;
$flight     : 300;
$regular    : 400;
$medium     : 500;
$semibold   : 600;
$bold       : 700;
$extrabold  : 800;
$ultrabold  : 900;

$primary  : #333;
$secondary: #000;
$dark     : #333;
$light    : #FFF;

$container: 1200px;

$grid-gap : 3rem;

$spacing-small  : 2rem;
$spacing-medium : 4rem;
$spacing-large  : 6rem;

$input-radius: 2px;