@import 'variables';
@import 'mixins';

.xdebug-var-dump,.xdebug-var-dump *, .xdebug-error, .xdebug-error * {font-size: 16px !important;}


/**************************************
 * VENDORS
 **************************************/

// @import "../../node_modules/...";
// @import "../../node_modules/slick-carousel/slick/slick.scss";


/**************************************
 * UTILITIES / LIBS
 **************************************/

// @import "flexgrid";
// @import "../fonts/icomoon/style.scss";


/**************************************
 * TAGS
 **************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: $rem;
    color: $font-color;
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior-y: none;
}

a {
    text-decoration: none;
    color: inherit;

    img {border: none;}
}

img {
    max-width: 100%;
    height: auto;

    // Wordpress alignment classes.
    &.alignleft {float: left;clear: both; margin: 15px 15px 15px 0;}
    &.aligncenter {display: block; margin: 0 auto;clear: both; padding: 0 15px 15px 15px;}
    &.alignright {float: right;clear: both; margin: 15px 0 15px 15px;}
}


/**************************************
 * GLOBAL CLASSES
 **************************************/

.dyn-cov {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.dyn-con {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.tr {
    transition: .2s;
}

.container {
    position: relative;
    width: $container;
    margin-left: auto;
    margin-right: auto;
	
    @media screen and (max-width: #{$container+2*$rem}) {
        width: 100%;
        padding-left: $rem;
        padding-right: $rem;
    }
}

.container-fluid {
    padding-left: $rem;
    padding-right: $rem;
}

.reading {
    position: relative;
    width: $reading;
    margin-left: auto;
    margin-right: auto;
	
    @media screen and (max-width: #{$reading+2*$rem}) {
        width: 100%;
        padding-left: $rem;
        padding-right: $rem;
    }
}


/**************************************
 * COMPONENTS
 **************************************/

// @import "burger";
@import "button";
@import "form";
@import "header";
@import "pagination";
@import "richtext";
// @import "tree_menu";