.btn {
    display: inline-block;
    padding: 0.8em 2em;
    //min-width: 130px;
    text-align: center;
    //font-size: 1rem;
    font-family: var(--font-family);
    font-weight: var(--regular);
    line-height: 1em;
    border: 1px solid var(--primary);
    border-radius: var(--input-radius);
    cursor: pointer;
    background-color: var(--primary);
    color: #fff;
    -webkit-appearance: none;
    appearance: none;
    transition: 0.2s;

    &:hover, &:focus {
        background-color: var(--primary-500);
        border-color: var(--primary-500);
        color: var(--light);
    }

    &.btn--o {
        border-color: var(--primary);
        background-color: transparent;
        color: var(--primary);

        &:hover, &:focus {
            background-color: var(--primary);
            border-color: var(--primary);
            color: var(--light);
        }
    }
}

.btngroup {
    display: inline-flex;

    .btn {
        border-radius: 0;

        &:focus {
            z-index: 1;
        }

        & + .btn {
            margin-left: -1px;
        }
    }

    .btn:first-child {
        border-radius: var(--input-radius) 0 0 var(--input-radius);
    }

    .btn:last-child {
        border-radius: 0 var(--input-radius) var(--input-radius) 0;
    }
}

.unbtn {
    margin: 0;
    border: none;
    font-family: inherit;
    font-size: inherit;
    text-transform: none;
    line-height: 1;
    overflow: visible;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    color: inherit;
}