:root {

  --rem: 16px;
  --font-color : #333;
  --font-family: "Helvetica Neue", "Helvetica", sans-serif;
  //--icomoon-font-path: "../../fonts/icomoon/fonts";

  --thin       : 100;
  --extralight : 200;
  --book       : 200;
  --flight     : 300;
  --regular    : 400;
  --medium     : 500;
  --semibold   : 600;
  --bold       : 700;
  --extrabold  : 800;
  --ultrabold  : 900;

  --primary  : #333;
  --secondary: #000;
  --dark     : #333;
  --light    : #FFF;

  --reading  : 680px;
  --container: 1200px;

  --grid-gap : 3rem;

  --input-radius: 2px;

  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 24px;
  --space-6: 32px;
  --space-7: 40px;
  --space-8: 48px;
  --space-9: 56px;
  --space-10: 64px;
  --space-11: 80px;
  --gutter: 20px;

  --radius-xs: 4px;
  --radius-s: 8px;
  --radius-m: 12px;
  --radius-l: 16px;
  --radius-xl: 24px;
  --radius-50: 1000px;
}